# Database Configuration
DB_CONTAINER_NAME=postgres-db
DB_NAME=nomedb
DB_USER=utente
DB_PASSWORD=password pgadmin
DB_PORT_EXTERNAL=5433
DB_PORT_INTERNAL=5432

# Project Info
PROJECT_NAME=microservices-template